body {
    background-color: #dbdbdb;
    color: #000;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  button {
    padding: 5px 20px;
    background-color: #e6e7e8;
    color: #000;
    border-style: none;
  }
  input {
    height: 20px;
  }